.wrapperFull {
  position: relative;
  top: 46px;
  background-color: #1b1f26;
  margin: 0 auto;
  max-width: 1000px;
  padding: 10px 12px 40px 12px;
  min-height: 100vh;
  /* flex-grow: 1; */
}
.main-content {
  display: flex;
  justify-content: space-between;
}

#left-content {
  display: flex;
  flex-direction: column;
  width: 160px;
}
